* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  box-shadow: 0px 2px 1px 0px #b9ff6614;
  background: #0000001a;
  padding-right: 12px;
  padding-left: 12px;
  width: 1440px;
  height: 60px;
  backdrop-filter: blur(10px);

  .inicio {
    flex-shrink: 0;
    padding: 8px 16px;
    line-height: 20px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  .selectPag {
    position: absolute;
    top: 46px;
    left: 558px;
    flex-shrink: 0;
    border-radius: 50%;
    box-shadow: 0px 2px 2px 0px #ffffff40;
    background: #b9ff66;
    width: 4px;
    height: 4px;
  }
}
